DATABASE_URL=postgres://user:password@localhost:5432/support_desk_development
FRONTEND_URL=http://localhost:5173
# SMTP_HOST / SMTP_USER / SMTP_PASSWORD
REDIS_URL=redis://localhost:6379/0
RAILS_MASTER_KEY=jkdhskgjsgfdsfdygf
APP_HOST=http://localhost:3000
SOLID_QUEUE_IN_PUMA=true